* {
  margin: 0;
  padding: 0;
}

.grilla {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px auto 270px;
}

#head {
  grid-area: header;
}
#head .logo-barra {
  height: 100%;
  width: 100%;
  display: flex;
}
#head .logo-barra .logo {
  height: 100%;
  width: 480px;
}
#head .logo-barra .logo h1 {
  width: 100%;
  position: relative;
  color: rgba(253, 7, 7, 0.9254901961);
  font-family: "Rubik Wet Paint", cursive;
  bottom: 50px;
  text-align: center;
}
#head .logo-barra .logo img {
  height: 100%;
  width: 100%;
}
#head .logo-barra .barra {
  height: 100%;
  width: 100%;
}
#head .logo-barra .barra .ubicar-nav {
  position: relative;
  bottom: 30px;
}
#head .logo-barra .barra .ubicar-nav .nav-flex {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#head .logo-barra .barra .ubicar-nav .nav-flex li a {
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  text-decoration: none;
  color: #f7f7f7;
  background-color: rgb(0, 0, 0);
  padding: 15px 20px;
}
#head .logo-barra .barra img {
  height: 100%;
  width: 100%;
}
#head .logo-barra .barra .display-escritorio {
  display: none;
}

#nav {
  grid-area: nav;
}

.display-celular-tablet {
  display: none;
}

#main {
  grid-area: main;
}
#main .fondo-main {
  background-image: url(../img/wallpaper-skull.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
#main .flex-pc {
  display: flex;
}
#main .flex-pc .izquierda {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .flex-pc .izquierda h2 {
  width: 100%;
  font-size: 35px;
  color: #f7f7f7;
  font-family: "Shadows Into Light", cursive;
  text-align: left;
  margin-top: 15px;
  margin-right: -40px;
}
#main .flex-pc .izquierda h3 {
  font-size: 30px;
  color: #f7f7f7;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  margin: 20px;
}
#main .flex-pc .izquierda .centrar-caja {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .flex-pc .izquierda .centrar-caja .estilo-destacado {
  width: 100%;
  color: #f7f7f7;
}
#main .flex-pc .izquierda .centrar-caja h4 {
  margin-top: 40px;
  background-color: rgba(253, 7, 7, 0.9254901961);
  padding: 0px 5px;
  width: max-content;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 8px;
  left: 8%;
}
#main .flex-pc .izquierda .centrar-caja .pagina-espacio {
  margin: 40px 0px;
}
#main .flex-pc .izquierda .caja-destacado {
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
  width: 85%;
}
#main .derecha {
  height: 100%;
  width: auto;
}
#main .derecha .fondo-formulario {
  background-color: #020122;
  height: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
#main .derecha .fondo-formulario h3 {
  text-align: center;
}
#main .derecha .fondo-formulario .alinear-formulario {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#main .derecha .fondo-formulario .alinear-formulario .ingresar-datos {
  margin-top: 30px;
  margin-bottom: 30px;
}
#main .derecha .fondo-formulario .alinear-formulario .botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#main .derecha .fondo-formulario #fuente-formulario {
  color: #f7f7f7;
}
#main .derecha .sticky-formulario {
  margin-top: 35px;
  position: sticky;
  top: 5px;
}
#main .derecha .display-escritorio {
  display: block;
}

#footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
}

.tamanio-footer {
  height: 100%;
  width: 100%;
}

.lista-redes {
  display: flex;
  justify-content: space-between;
}
.lista-redes .lista-web p {
  color: #f7f7f7;
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.lista-redes .lista-web li {
  list-style: none;
}
.lista-redes .lista-web li a {
  margin-bottom: 10px;
  text-decoration: none;
  color: rgba(253, 7, 7, 0.9254901961);
  font-size: 25px;
  font-family: "Shadows Into Light", cursive;
}
.lista-redes .redes-sociales p {
  color: #f7f7f7;
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  margin-top: 40px;
}
.lista-redes .redes-sociales .display-redes {
  display: flex;
}
.lista-redes .redes-sociales .display-redes img {
  height: 100px;
  width: 100px;
}

@media (max-width: 1020px) and (min-width: 576px) {
  .grilla {
    display: grid;
    grid-template-areas: "head head head" "nav nav nav" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 60px auto 160px;
  }
  #header {
    grid-area: header;
  }
  #header .logo-barra {
    height: 100%;
    width: 100%;
    display: flex;
  }
  #header .logo-barra .logo {
    height: 100%;
    width: 480px;
  }
  #header .logo-barra .logo h1 {
    width: 100%;
    position: relative;
    color: rgba(253, 7, 7, 0.9254901961);
    font-family: "Rubik Wet Paint", cursive;
    bottom: 50px;
    text-align: center;
  }
  #header .logo-barra .logo img {
    height: 100%;
    width: 100%;
  }
  #header .logo-barra .barra {
    height: 100%;
    width: 100%;
  }
  #header .logo-barra .barra .ubicar-nav {
    position: relative;
    bottom: 30px;
  }
  #header .logo-barra .barra .ubicar-nav .nav-flex {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  #header .logo-barra .barra .ubicar-nav .nav-flex li a {
    font-size: 30px;
    font-family: "Shadows Into Light", cursive;
    text-decoration: none;
    color: #f7f7f7;
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
  }
  #header .logo-barra .barra img {
    height: 100%;
    width: 100%;
  }
  #header .logo-barra .barra .display-escritorio {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
