*{
    padding: 0;
    margin: 0;
}


/* ----------------------CELULAR---------------------------------- */
.grilla{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-areas:
        "navegar encabezado encabezado"
        "navegar relleno relleno"
        "navegar pie pie";
        grid-template-columns: 80px repeat(2,1fr);
        grid-template-rows: 200px auto 100px;
        column-gap: 20px;
}
 /* HAY ALGUNA FORMA DE QUE EL CONTENIDO QUE AGREGUE
    INDEPENDIENTEMENTE DEL TAMAÑO QUE SEA ABARQUE EL MAIN?
    
    PORQUE CONFIGURE PARA QUE ENTRE UN CONTENIDO ESPECIFICO
    PERO AL AGREGARLE 2 LINEA MAS ERA COMO QUE EL FOOTER SE ME DESCONFIGURABA Y ATRAVEZABA TODO
    ES ALGO QUE TENGO DESDE LA PRIMERA ENTREGAGIT*/

   



#encabezado{

    grid-area: encabezado;

    
    background-image: url(../img/metal-slipknot-nu-metal-wallpaper-preview.jpg);
    background-size: cover;
}

.encabezado{

  

    
    background-image: url(../img/metal-slipknot-nu-metal-wallpaper-preview.jpg);
    background-size: cover;
}


#navegar{
    grid-area: navegar;
}

#relleno{
    grid-area: relleno;
}

#pie{
    grid-area: pie;
    background-color: black;
}


.texto-imagen{
    font-family: 'El Messiri', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Shadows Into Light', cursive;
    
    color: red;
    position: relative;
    }



.display-none-escritorio
{
    display:none
}


.color
{
    background-color: black;
}



/* NAV - CELULAR*/

.display-none-escritorio{
    display: none;
}

.posicion-nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    justify-content: start;
}

.extender{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.colornav{
    background-color: rgb(45, 47, 51);
}

#colorli{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 74px;
    font-size: 20px;

}

#boton-nav-bar{
    background-color: white;
    margin-top: -100px;
    
}




/* SECCION MAIN - CELULAR*/
.fondo-articulos{
    margin-top: 20px;
    background-color: bisque;
    border-radius: 5px;
    width: 85%;
    
}

.titulo-articulo-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.h2-iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.fondo-body{
    background-image: url(../img/wallpaper-skull.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.paginas-nav{
    margin-top: 40px;
}




/* .novedades{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding:6px;
    border-radius: 5px;
}


.main-centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.main-centrar h2{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}


.novedades h3{
    background-color: red;
    color: white;
    font-family: fantasy;
    font-size: 20px;
    width: 108px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: -5px;
}

.novedades h4{
    font-size: 15px;

}
.fondo-body{
    background-image: url(../img/wallpaper-skull.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


/* ----------------------PAGINA 1 - NOTICIAS - CELULAR---------------------- */










/* .noticia1{

    width: 100%;
    display: flex;
    flex-direction: column;


    EN TEORIA SI AGREGABA ESTO TENIA QUE PONERSE EN COLUMNA EL CELULAR. PERO SE ME DESCONFIGURABA
    TodQ asi que lo deje como comentario. Recien agregue un display-none al html y me lo toma como columna sin asignarle
    RARO

    Pero bueno, le dejo el comentario por si le sirve
    
} */


/* .tamanio-carrusel{
    
    height: auto;
    width: 630px;
    /* margin: auto; }*/















/* QUITAMOS NOTICIA1 PORQUE CAUSABA ERRORES EN MOBILE */
.noticia1{

    margin-left: 10px;
    /* height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px; */
    
}


.caja-noticias{
    width: 95%;
    height: auto;
    border-radius: 5px;  
    background-color: blanchedalmond;
    padding: 10px;}



.titulo-art{
    color: white;
    
}
.subtitulo-art{
    font-family: 'Shadows Into Light', cursive;
    color: red;
}

.pagina-navegacion2{
display: flex;
justify-content: center;
} 

.tamanio-carrusel{
    
    height: auto;
    width: auto;
}

/* .tamanio-imagen-noticias{
    height:300px ;
    width: 250px;
}


.texto-noticias{
    background-color: blanchedalmond;
}


.caja-scroll{
    width: 230px;
    height: 550px;
    border-radius: 5px;
    overflow: scroll;
}

.titulo-art{
    color: white;
    
}
.subtitulo-art{
    font-family: 'Shadows Into Light', cursive;
    color: red;
}

.pagina-navegacion2{
display: flex;
justify-content: center;
} */



/* SECCION FOOTER - CELULAR*/
.footer-font{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 0;
    margin-right: 17px;
    margin-top: 20px;
    text-align: center;
}
.estilo-footer{
    display: flex;

}

.union-footer{
    display: flex;
   
    flex-direction: column;
    align-items: end;

    width: 100%;
}









/* ------------------SECCION TABLET------------------------------ */

@media (min-width:576px) and (max-width:1020px){
    
    .grilla{
        width: 100%;
        height: 250px;
        display: grid;
        grid-template-areas:
        "encabezado encabezado encabezado"
        "navegar navegar navegar"
        "relleno relleno relleno"
        "pie pie pie";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 260px 60px auto 160px;
    }
    
    
    

/* NAV - TABLET*/

.posicion-nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    justify-content: start;
}




.colornav{
    background-color: rgb(45, 47, 51);
}

#colorli{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    margin: 0;

}

#boton-nav-bar{
    background-color: white;
    margin-top: 1px;
    
}

.fondoli{
    background-color: gray;
    width: 90px;
    padding: 5px;
    border: 2px solid black;
}

#tablet-margin{
    display: flex;

}


/* SECCION MAIN - TABLET*/

/* .derecha-izquierda{
    display: flex;
}

.seccion-izquierda{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;

}
.seccion-derecha{
height: 95%;
width: auto;
} */

.fondo-articulos{
    margin-top: 20px;
    background-color: bisque;
    border-radius: 5px;
    width: 85%;
    
}

.titulo-articulo-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.h2-iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video{
    width: 490px;
    height: 460px;
}

.fondo-body{
    background-image: url(../img/wallpaper-skull.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.paginas-nav{
    margin-top: 40px;
}



/* .novedades{
    width: 100%;
    display: flex;
    flex-direction: column;
}
    

.main-centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video{
    width: 490px;
    height: 460px;
}

.fondo-body{
    background-image: url(../img/wallpaper-skull.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* PAGINA 1 - NOTICIAS - TABLET */

.noticia1{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}

.tamanio-carrusel{
    
    height: auto;
    width: 630px;
    /* margin: auto; */
}


.caja-noticias{
    width: 90%;
    height: auto;
    border-radius: 5px;  
    background-color: blanchedalmond;
    padding: 10px;}



.titulo-art{
    color: white;
    
}
.subtitulo-art{
    font-family: 'Shadows Into Light', cursive;
    color: red;
}

.pagina-navegacion2{
display: flex;
justify-content: center;
} 



/* SECCION FOOTER - TABLET */
.footer-font{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    margin-right: 48px;
    margin-top: 30px;
}
.estilo-footer{
    display: flex;

}

.union-footer{
    display: flex;
   
    flex-direction: column;
    align-items: end;

    width: 100%;
}

.estilo-footer img{
    height: 80px;
    width: 80px;
}



}




/*------------------ SECCION PC DE ESCRITORIO ----------------------------*/

@media (min-width:1021px){


    .grilla{
        /* width: 100%;
        height: 250px; */
        display: grid;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "relleno relleno relleno"
            "pie pie pie";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 287px auto 270px;
    }

/* HEADER - PC ESCRITORIO*/
#encabezado:not(row)
{
    background-image: none;
}
.header-pag{
height: 100%;
width: 2000px;
}

.imagen{

height: 100%;
width: 310px;
}
.texto-imagen{
    
    font-family: 'Rubik Wet Paint', cursive;
    
    color: red;
    position: relative;
    margin-top: -80px;
    margin-left: 7px;
    }

.direccion{
    display: flex;
    height: 100%;
    width: 100%;
}


/* NAV - PC DE ESCRITORIO */

.display-none{
    display: none;
}
.display-none-escritorio{
    display: block;
    
}
.nav-widh-escritorio{
width: 100%;
position: relative;
margin-top: -64px
}


.nav-escritorio
{
    display: flex;
    list-style: none;
    justify-content:space-around;
}

.nav-escritorio li{
    border: 10px double white;
    padding: 10px;
    background-color: gray;
    font-size: 20px;
    
    
}
.nav-escritorio li a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* SECCION MAIN PC DE ESCRITORIO*/
.derecha-izquierda{
    display: flex;
}

.seccion-izquierda{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;

}
.seccion-derecha{
height: 93%;
width: auto;
}

.fondo-articulos{
    background-color: bisque;
    border-radius: 5px;
    width: 75%;
    
}

.titulo-articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2-iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video{
    width: 490px;
    height: 460px;
}

.fondo-body{
    background-image: url(../img/wallpaper-skull.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.paginas-nav{
    margin-top: 40px;
}
/* #color-pagina{
    background-color: orange;
} */




/* ME QUEDE EN FORMULARIOOO */
#fuente-formulario{
    color: white;
}
.fondo-formulario{
    height: 600px;
    width: auto;
    background-color:#020122;
    padding: 20px;
    border:1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}
.fondo-formulario h3{
    text-align: center;
}
.sticky-formulario{
    position: sticky;
    top: 0;
}



.botones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}
.alinear-formulario{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 .ingresar-datos{
    
    margin-top: 30px;
    margin-bottom: 30px;

 }

/* PRIMERA VERSION DEL MAIN----------------------------------------------------------

.novedades{
    width: 50%;
}

.novedades1{
    width: 100%;
    display:flex ;
    justify-content: center;
    margin-left: -105px;
}
    

.main-centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -210px;
}
.main-centrar h2{
    margin-top: 20px;
    color: white;
    font-size: 40px;


}

.pagina-navegacion{
    margin-left: 490px;
    margin-top: 135px;
} */


/* PAGINA 1 - NOTICIAS - PC ESCRITORIO */
.noticia1{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    
    
}

/* #noticias1pc:not(.noticia1){
    width: 100%;
    display: flex ;
    margin-bottom: 50px;
    height: auto;
    justify-content: space-between;
} */


.tamanio-carrusel{
    
    height: 350px;
    width: 600px;
    position: sticky;
    top: 0;
    height: 95%;
}



/* .texto-noticias{
    background-color: blanchedalmond;
    width: 50%;
} */


.caja-noticias{
    width: 50%;
    height: auto;
    border-radius: 5px;  
    background-color: blanchedalmond;
    padding: 10px;}

.titulo-art{
    color: white;
    
}
.subtitulo-art{
    font-family: 'Shadows Into Light', cursive;
    color: red;
}

.pagina-navegacion2{
display: flex;
justify-content: center;
margin-bottom: 30px;
}


/* SECCION FOOTER PC ESCRITORIO */
.footer-font{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-right: 78px;
    margin-top: 70px;
}
.estilo-footer{
    display: flex;

}

.union-footer{
    display: flex;
   
    flex-direction: column;
    align-items: end;

    width: 100%;
}

.estilo-footer img{
    height: 100px;
    width: 100px;
}



}


/* PAGINA 3 BANDAS */
.celdas-art{
    display: flex;
    flex-direction: column;
    margin: 46px 330px 55px 30px;
}

.columnas-celdas-art{
    display: flex;
    margin-left: 20px;
}

.celdas-art h3{
    color: white;
}





/*PAGINA 4 FORO*/
.imagen-humor{
    height: 300px;
    width: 450px;
}

.caja-comentarios{
    margin-top: 20px;
display: flex;
flex-direction: column;
}

.separacion{
    margin-left: 20px;
}


/* PAGINA 5 CONTACTO */
fieldset{
    border: 2px solid white;
    width: 60%;

}
form{
    margin: 20px;
}