$blanco: #FDFEFE;
$rojo: #ec1f08;
$negro: #000000;
$azul: #0063d4;
$limon: #c8ff00;
$nav: #333333;


*{  margin: 0;
    padding: 0;
}
.grilla{
    display: grid;
    grid-template-areas: 
    "navegar encabezado encabezado"
    "navegar relleno relleno"
    "navegar pie pie";
    grid-template-columns: 105px repeat(2,1fr);
    grid-template-rows: 200px auto 100px;
    

}
#encabezado{
    grid-area: encabezado;
    background-image: url(../img/metal-slipknot-nu-metal-wallpaper-preview.jpg);
    background-size: cover;
    .texto-imagen{
        font-family: 'El Messiri', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Rubik Wet Paint', cursive;
        font-family: 'Shadows Into Light', cursive;
        color: $rojo;
    }
}

#navegar{
    grid-area: navegar;
}
.display-none-escritorio{
    display: none;
}
.colornav{
    background-color: $nav;
}
.posicion-nav{
    display: flex;
    flex-direction: column;
    .sticky-nav{
        position: sticky;
        top: 0;
        #colorli{
            color: $blanco;
            font-family: 'Shadows Into Light', cursive;
            font-size: 20px;
        }
        #boton-nav-bar{
            background-color: $blanco;
        }
    }

    
}


#relleno{
    grid-area: relleno; 
    .fondo-body{
        background-image: url(../img/wallpaper-skull.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;

        .fondo-articulos{
            margin-top: 20px;
            background-color: bisque;
            border-radius: 5px;
            width: 85%;
            padding: 10px;
            }
    .h2-iframe{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            color: $blanco;
            margin-top: 20px;
        }
            }
            
    }
    .titulo-articulo-tablet-celular{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

    }
    .paginas-nav{
        margin-top: 40px;
    }
}

// CODIGO ORIGINAL 
#pie{
    grid-area: pie;
    background-color: $negro;
    .union-footer{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        .footer-font{
            color: $blanco;
            font-family: 'Shadows Into Light', cursive;
            margin-bottom: 0;
            margin-right: 17px;
            margin-top: 20px;
            text-align: center;
        }
        .estilo-footer{
            display: flex;
            a{
                img{
                    height: none;
                    width: none;
                }
            }
        }
    }
    }




@media (min-width:576px) and (max-width:1020px){
    
    .grilla{
        width: 100%;
        height: 250px;
        display: grid;
        grid-template-areas:
        "encabezado encabezado encabezado"
        "navegar navegar navegar"
        "relleno relleno relleno"
        "pie pie pie";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 260px 60px auto 160px;
    }
    .fondoli{
        background-color: gray;
        width: 90px;
        padding: 5px;
        border: 2px solid black;
    }
    .video{
        width: 490px;
        height: 460px;
    }

#pie{
    grid-area: pie;
    background-color: $negro;
    .union-footer{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        .footer-font{
            font-size: 30px;
            margin-right: 45px;
        }
        .estilo-footer{
            display: flex;
            a{
                img{
                    height: 80px;
                    width: 80px;
                }
            }
        }
    }
    }
}

//RECORDATORIO DE LOS VALORES DEL CODIGO ANTES DE PROBAR OTROS TIPOS DE SOLUCIONES
    // #pie{
    //     .union-footer{
    //         .footer-font{
    //             font-size: 30px;
    //             margin-right: 45px;
    //         }
    //         .estilo-footer{
    //             display: flex;
    //             a{
    //             img{
                    
    //                 height: 80px;
    //                 width: 80px;
    //             }
    //             }
    //         }
    //         }
    //     }
    


@media (min-width:1021px){


    .grilla{
        display: grid;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "relleno relleno relleno"
            "pie pie pie";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 287px auto 270px;
    }
    #encabezado{
        grid-area: encabezado;
        background-image: none;
        .direccion{
            display: flex;
            height: 100%;
            width: 100%;
            .display-none-escritorio{
                display: block;
            }
            .imagen{
                height: 100%;
                width: 375px;
                }
                .texto-imagen{
                    font-family: 'Rubik Wet Paint', cursive;
                    color: $rojo;
                    position: relative;
                    bottom: 80px;
                    margin-left: 35px;
                    }
                    .header-pag{
                        height: 100%;
                        width: 100%;
                        .display-none-escritorio{
                            display: block;
                        }
                        .nav-escritorio{
                            display: flex;
                            list-style: none;
                            justify-content:space-around;
                            li{
                                border: 10px double $blanco;
                                padding: 10px;
                                background-color: gray;
                                font-size: 20px;
                            }
                            a{
                                text-decoration: none;
                                color: $blanco;
                                font-family: 'Courier New', Courier, monospace;
                            }
                            
                        }
                        .nav-widh-escritorio{
                            width: 100%;
                            position: relative;
                            bottom: 64px;
                            }
                    }
                }       
            }


            #navegar{
            grid-area: navegar;
            }
            .display-none{
                display: none;
            }



            
        
            #relleno{
                grid-area: relleno; 
                .derecha-izquierda{
                    display: flex;
                    .seccion-izquierda{
                        height: 100%;
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        .titulo-articulo-tablet-celular{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 20px;
                            
                        }
                        .h2-iframe{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 20px;
                            h2{
                                color: $blanco;
                                margin-top: 0;
                            }
                            .video{
                                width: 490px;
                                height: 460px;
                            }
                        }      
                    }
                }    
                .fondo-body{     
                    .seccion-derecha{
                        height: 93%;
                        width: auto;
                        .sticky-formulario{
                            position: sticky;
                            top: 0;
                            .display-none-escritorio{
                                display: block;
                            }
                            .fondo-formulario{
                                height: 600px;
                                width: auto;
                                background-color:#020122;
                                padding: 20px;
                                border:1px solid white;
                                border-radius: 5px;
                                margin-top: 20px;
                                .alinear-formulario{
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: space-around;
                                }
                                #fuente-formulario{
                                    color: $blanco;
                                    .botones{
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-evenly;
                                    }
                                    .ingresar-datos{
                                        margin-top: 30px;
                                        margin-bottom: 30px;
                                        }
                                }
                            }
                        }   
                    } 

                    .fondo-articulos{
                        margin-top: 20px;
                        background-color: bisque;
                        border-radius: 5px;
                        width: 85%;
                        padding: 10px;
                        }
                .h2-iframe{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                        }
                }
                
                .paginas-nav{
                    margin-top: 40px;
                }
            }


        }

        
#pie{
    grid-area: pie;
    background-color: $negro;
    .union-footer{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        .footer-font{
            font-size: 40px;
            margin-right: 45px;
            margin-top: 45px;
            text-align: center;
        }
        .estilo-footer{
            display: flex;
            a{
                img{
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }
    }
    // RECORDATORIO A PARTIR DE ESTILOS-FOOTER ARRANCARON MIS PROBLEMAS YA QUE ESA ETIQUETA NO LA AGREGUE 
    // HASTA QUE TENIA QUE MODIFICAR EL TAMAÑO DE LAS IMAGENES Y EN ESE MOMENTO SE ME EMPEZO A DESCONFIGURAR LOS FOOTER
    // ANTES EL ESTILO MOBILE ME PISABA A MI VERSION PARA TABLET PERO AHORA LA VERSION DESKTOP OPACA A LOS DEMAS FOOTER  
        
    
    // #pie{
        //     .union-footer{
        //         display: flex;
        //         flex-direction: column;
        //         align-items: end;
        //         width: 100%;
        //         .footer-font{
        //             font-size: 40px;
        //             margin-top: 45px;
        //             margin-right: 45px;
        //         }
        //         .estilo-footer{
        //             display: flex;
        //             img{
        //                 height: 100px;
        //                 width: 100px;
        //             }
        //         }
        //     }
        // }
