$blanco:#f7f7f7;

$negro:rgb(0, 0, 0);
*{
    margin: 0;
    padding: 0;
}
// SECION PC ESCRITORIO
.grilla{
    display: grid;
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer"  ;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 300px auto 270px;
                }
// SECCION HEADER PC
#header{
    grid-area: header;
    .logo-barra{
        height: 100%;
        width: 100%;
        display: flex;
        h1{
            position: relative;
            color: red;
            font-family: "Rubik Wet Paint", cursive;
            top: 81%;
            left: 2%;
            width: 0;
            height: 0;
        }
    .logo{
        height: 100%;
        width: 480px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .barra{
        height: 100%;
        width: 100%;
        .ubicar-nav{
            position: relative;
            bottom: 30px;
            .nav-flex{
                display: flex;
                justify-content: space-around;
                list-style: none;
                li{
                    &:hover{       
                        transition: transform 1s;
                        transform: scale(1.2);    
                    }   
                    a{
                        font-size: 30px;
                        font-family: 'Shadows Into Light', cursive;
                        text-decoration: none; 
                        color: $blanco;
                        background-color: $negro;
                        padding: 15px 20px;
                        &:hover{
                            background-color: white;
                            color: black;    
                        }
                    }
                }
            }
        }
        img{
            height: 100%;
            width: 100%;
        }
        .display-escritorio{
            display: block;
        }
    }
    }
}

#nav{
    grid-area: nav;
}
.display-celular-tablet{
display: none;
}

// SECCION MAIN PC
#main{
    grid-area: main;
    .fondo-main{
        background-image: url(../img/wallpaper-skull.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;  
        height: 100%;
    }
    .flex-pc{
        display: flex;
        .izquierda{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                width: 100%;
                font-size: 35px;
                color: #f7f7f7;
                font-family: "Shadows Into Light", cursive;
                text-align: left;
                margin-top: 15px;
                margin-right: -40px;
                }
                h3{
                font-size: 30px;
                color: #f7f7f7;
                font-family: "Shadows Into Light", cursive;
                text-align: center;
                margin: 20px;
                }
                .centrar-caja{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .estilo-destacado{
                        width: 100%;
                        color: $blanco;
                    }
                    h4{
                        margin-top: 40px;
                        background-color: red;
                        padding: 0px 5px;
                        width: max-content;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        position: relative;
                        top:8px;
                        left: 8%;
                    }
                    .pagina-espacio{
                        margin: 40px 0px;
                    }
                }
                .caja-destacado{ 
                    background-color: bisque;
                    border-radius:5px;
                    padding: 10px; 
                    width: 85%;
                }
            } 
        }
        .derecha{
            height: 100%;
            width: auto;
            .fondo-formulario{
                background-color:#020122;
                height: 600px;
                width: 100%;
                padding: 20px;
                border:1px solid white;
                border-radius: 5px;
                margin-top: 20px;
                h3{
                    text-align: center;
                }
                .alinear-formulario{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    .ingresar-datos{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    .botones{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;  
                    }
                }
                #fuente-formulario{
                    color: $blanco;
                }
            }
            .sticky-formulario{
                margin-top: 35px;
                position: sticky;
                top: 5px;
            }
            .display-escritorio{
                display: block;
            }
        }
    }

// SECCION FOOTER PC
#footer{
    grid-area: footer;
    background-color:$negro;
}
.tamanio-footer{
    height: 100%;
    width: 100%;
    }
    .lista-redes{
        display: flex;
        justify-content: space-between;
        .lista-web{
            p{
                color: $blanco;
                font-size: 30px;
                font-family: 'Shadows Into Light', cursive;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 0;
            }
            li{
                list-style: none;
                a{
                margin-bottom: 10px;
                text-decoration: none;
                color: red;
                font-size: 25px;
                font-family: 'Shadows Into Light', cursive;
                }
            }   
            }
            .redes-sociales{
                p{
                    color: $blanco;
                    font-size: 30px;
                    font-family: 'Shadows Into Light', cursive;
                    text-align: center;
                    margin-top: 40px;
                }
                .display-redes{
                    display: flex;
                    img{
                        height: 100px;
                        width: 100px;
                    }
                }
            }
    }


// -----------------------------------------------SECCION TABLET--------------------------------------------------------
@media (max-width:1020px){      
    .grilla{
            display: grid;
            grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 260px 60px auto 200px;
        }
// SECCION HEADER TABLET
    #header{
        grid-area: header;
        .logo-barra{
        height: 100%;
        width: 100%;
        display: flex;
        background-image: url(../img/metal-slipknot-nu-metal-wallpaper-preview.jpg);
        background-size: cover;
        h1{
            font-family: 'Shadows Into Light', cursive; 
            position: relative;
            color: rgba(253, 7, 7, 0.9254901961);
            top: 0;
        }
        .logo{
        display: none;
        }
        .barra{
            display: none;
        }
        }
        }


// SECCION NAV TABLET
    #nav{
        grid-area: nav;
    }      
    .display-celular-tablet{
        display: block;  
    }
    .colornav{
        background-color: #333333;
    }
    .posicion-nav{
        display: flex;
        flex-direction: column;
        .sticky-nav{
            position: sticky;
            top: 0;
            #colorli{
                color: $blanco;
                font-family: 'Shadows Into Light', cursive;
                font-size: 25px;
                width: 120px;
            }
            #boton-nav-bar{
                background-color: $blanco;
            }
            .fondoli{
                background-color: gray;
                width: 90px;
                padding: 5px;
                border: 2px solid black;
        }
    }
}


// SECCION MAIN TABLET
    #main{
        .fondo-main{
        }
        .flex-pc{
            .izquierda{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-size: 25px;
                }
            }
            .derecha{
                display: none;
            }
        }
    }


// SECCION FOOTER TABLET
    #footer{
    }
        .tamanio-footer{
            height: 100%;
            width: 100%;
            }
            .lista-redes{
                display: flex;
                justify-content: space-between;
                .lista-web{
                    p{
                        color: $blanco;
                        font-size: 20px;
                        font-family: 'Shadows Into Light', cursive;
                        text-align: center;
                        margin-top: 10px;
                        margin-bottom: 0;
                    }
                    li{
                        list-style: none;
                        a{
                        margin-bottom: 10px;
                        text-decoration: none;
                        color: red;
                        font-size: 20px;
                        font-family: 'Shadows Into Light', cursive;
                        }
                    }   
                    }
                    .redes-sociales{
                        p{
                            color: $blanco;
                            font-size: 20px;
                            font-family: 'Shadows Into Light', cursive;
                            text-align: center;
                            margin-top: 35px;
                        }
                        .display-redes{
                            display: flex;
                            img{
                                margin-top: -10px;
                                height: 80px;
                                width: 80px;
                            }
                        }
                    }
            }
    
}
//--------------------------------------- SECCION CELULAR -----------------------------------------------------------------
@media (max-width:576px){
.grilla{
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav footer footer";
    grid-template-columns: 105px repeat(2,1fr);
    grid-template-rows: 200px auto 160px;
}

// SECCION HEADER CELULAR
#header{
}

// SECCION NAV CELULAR
#nav{
    grid-area: nav;
}
.display-celular-tablet{
    display: block;  
}
.sticky-nav{
    position: sticky;
    top: 0;
}
.colornav{
    background-color: #333333;
}
.posicion-nav{
    display: flex;
    flex-direction: column;
    .sticky-nav{
        position: sticky;
        top: 0;
        a{  
            margin: 20px 0px 24px 2px;
        }
        #colorli{
            color: $blanco;
            font-family: 'Shadows Into Light', cursive;
            font-size: 20px;
        }
        #boton-nav-bar{
            background-color: $blanco;
        }
        .fondoli{
            background-color:transparent;
            margin-top: 100px;
            width: 0;
            padding: 0;
            border: none;
    }
}
}

// SECCION MAIN CELULAR
#main{
    grid-area: main;
    .fondo-main{
    }
    .flex-pc{
        display: flex;
        .izquierda{
            h2{
                font-size: 22px;
                }
                h3{
                font-size: 20px;
                }
                iframe{
                height: 200px;
                width: 200px;
                }
                .centrar-caja{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .estilo-destacado{
                        width: 100%;
                        color: $blanco;
                        h4{
                            font-size: 20px;
                        }
                    }
                }
                .caja-destacado{ 
                    background-color: bisque;
                    border-radius:5px;
                    padding: 10px; 
                    width: 85%;
                    h5{
                        font-size: 15px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            } 
        }
}

// SECCION FOOTER CELULAR
#footer{
    grid-area: footer;
}
.tamanio-footer{
    height: 100%;
    width: 100%;
    }
    .lista-redes{
        display: flex;
        justify-content: end;
        .lista-web{
            display: none;
            p{
                color: $blanco;
                font-size: 15px;
                font-family: 'Shadows Into Light', cursive;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 0;
            }
            li{
                list-style: none;
                a{
                margin-bottom: 10px;
                text-decoration: none;
                color: red;
                font-size: 10px;
                font-family: 'Shadows Into Light', cursive;
                }
            }   
            }
            .redes-sociales{
                display: flex;
                flex-direction: column;
                p{
                    color: $blanco;
                    font-size: 15px;
                    font-family: 'Shadows Into Light', cursive;
                    text-align: center;
                    margin-top: 40px;
                }
                .display-redes{
                    display: flex;
                    img{
                        margin-top: -10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }
    }
}