
#main{
    grid-area: main;
    .flex-pc-noticias{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 35px;
            margin-top: 15px;
            width: 97%;
            color: white;
            font-family: "Shadows Into Light", cursive;
            
        }
        h3{
            width: 97%;
            font-size: 35px;
            color: red;
            font-family: "Shadows Into Light", cursive;
            margin-top: 15px;
        }
        .noticia1{
            display: flex;
            justify-content: space-around;
            width: 100%;
            .caja-noticias{
                    background-color: bisque;
                    border-radius:5px;
                    padding: 10px; 
                    width: 54%;
                    margin-left: 20px;
            }
            .tamanio-carrusel{
                height: max-content;
                width: auto;
                position: sticky;
                top: 0;
                .carousel-item{
                    .img-ancho{
                        width: 550px;
                    }
                }
            }    
        }
        .pagina-navegacion2{
            margin: 40px 0px;
        }
    }
}

@media (max-width:1020px){ 
    #main{
        grid-area: main;
        .flex-pc-noticias{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                width: 0;
                font-size: 25px;
                color: white;
                font-family: "Shadows Into Light", cursive;
                margin-top: 15px;
            }
            h3{
                width: 95%;
                font-size: 25px;
                color: red;
                font-family: "Shadows Into Light", cursive;
                margin-top: 15px;
            }
            .noticia1{
                display: flex;
                justify-content: space-around;
                width: 100%;
                .caja-noticias{
                        font-size: 13px;
                        background-color: bisque;
                        border-radius:5px;
                        padding: 10px; 
                        width: 54%;
                        margin-left: 20px;
                }
                .tamanio-carrusel{
                    height: max-content;
                    width: auto;
                    position: sticky;
                    top: 0;
                    .carousel-item{
                        .img-ancho{
                            width: 350px;
                        }
                    }
                }    
            }
            .pagina-navegacion2{
                margin: 40px 0px;
            }
        }
    }
}

@media (max-width:576px){
    #main{
        grid-area: main;
        .flex-pc-noticias{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                width: 97%;
                font-size: 22px;
                color: white;
                font-family: "Shadows Into Light", cursive;
                margin-top: 15px;
            }
            h3{
                width: 95%;
                font-size: 20px;
                color: red;
                font-family: "Shadows Into Light", cursive;
                margin-top: 15px;
            }
            .noticia1{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .caja-noticias{
                        font-size: 10px;
                        background-color: bisque;
                        border-radius:5px;
                        padding: 10px; 
                        width: 94%;
                        margin-left: 0;
                }
                .tamanio-carrusel{
                    height: max-content;
                    width: max-content;
                    position: sticky;
                    top: 0;
                    .carousel-item{
                        .img-ancho{
                            width: 210px;
                            margin-bottom: 20px;
                        }
                    }
                }    
            }
            .pagina-navegacion2{
                margin: 40px 0px;
            }
        }
    }
}
