$blanco: #f7f7f7;
$h2margin-top:15px;
$h2margin-left:2%;
$font-metal:"Shadows Into Light", cursive;
$h2tamanio-pc:35px;
$h3tamanio-pc:30px;
$rojo:#fd0707ec;

// NO LOGRE QUE FUNCIONEN COMO VARIABLES GLOBALES